#content {
  width:           960px;
  min-height:       100%;
  margin:         0 auto;
  padding:     35px 55px;
  box-sizing: border-box;
}

#content-shadow-top {
  position:        fixed;
  top:                 0;
  width:            100%;
  height:           25px;

  z-index: var(--layer-menu);

  background: linear-gradient(180deg, rgba(220 220 220 / 1) 0%, rgba(220 220 220 / 0) 100%);
}

#content-shadow-bottom {
  position:        fixed;
  bottom:              0;
  width:            100%;
  height:           25px;

  z-index: var(--layer-menu);

  background: linear-gradient(0deg, rgba(220 220 220 / 1) 0%, rgba(220 220 220 / 0) 100%);
}
