.icon-compare {
  background-image: url(icons/compare.svg);
  background-size: cover;
}

.icon-export {
  background-image: url(icons/export.svg);
  background-size: cover;
}

.icon-folder {
  background-image: url(icons/folder.svg);
  background-size: cover;
}

.icon-import {
  background-image: url(icons/import.svg);
  background-size: cover;
}

.icon-info {
  background-image: url(icons/info.svg);
  background-size: cover;
}

.icon-printer {
  background-image: url(icons/printer.svg);
  background-size: cover;
}

.icon-settings {
  background-image: url(icons/settings.svg);
  background-size: cover;
}

.icon-training {
  background-image: url(icons/training.svg);
  background-size: cover;
}
