#menu {
  display:        inline-block;
  position:           absolute;
  left:                      0;
  top:                     50%;
  width: var(--menu-item-size);

  transform:  translateY(-50%);
}

.menu-item {
  position:            relative;
  width:                   100%;
  height: var(--menu-item-size);
  box-sizing:        border-box;
  padding:                  15%;
  background:   var(--ruby-red);
  box-shadow:    0 3px 2px gray;
  cursor:               pointer;

  margin:                     0;
  transition:          0.4s all;
}

.menu-item:hover {
  margin: 5px 0;
}

.menu-item:active {
  box-shadow:    0 1px 1px gray;
}

.menu-item:hover .menu-label {
  opacity:          1;
  visibility: visible;
}

.menu-icon {
  width:  100%;
  height: 100%;
}

.menu-label {
  position:   absolute;
  top:             50%;
  left:           100%;
  padding:        10px;
  color:         black;
  white-space:  nowrap;

  opacity:               0;
  visibility:       hidden;
  transition: 0.4s opacity;


  transform: translateY(-50%);
}
