#menu {
  position:              fixed;
  left:                      0;
  top:                    50vh;
  width: var(--menu-item-size);
  display:        inline-block;
  transform:  translateY(-50%);
  z-index:   var(--layer-menu);
}

.menu-item {
  position:            relative;
  width:                   100%;
  height: var(--menu-item-size);
  box-sizing:        border-box;
  background:   var(--ruby-red);
  cursor:               pointer;

  filter:                  none;

  padding:                  15%;
  transition:       .2s padding;
}

.menu-item:hover {
  padding:             10%;
  filter: brightness(120%);
}

.menu-item:active {
  padding:             15%;
  filter: brightness(150%);
}

.menu-icon {
  width:  100%;
  height: 100%;
}

.menu-label {
  position:          absolute;
  top:                    50%;
  left:                  100%;
  padding:          10px 25px;
  background: var(--ruby-red);
  color:                white;
  line-height:           30px;
  white-space:         nowrap;

  visibility:          hidden;

  transform: translateY(-50%);
}

.menu-item:hover .menu-label {
  visibility: visible;
}
