#menu {
  display:        inline-block;
  position:           absolute;
  left:                      0;
  top:                     50%;
  width: var(--menu-item-size);

  transform:  translateY(-50%);
}

.menu-item {
  position:            relative;
  width:                   100%;
  height: var(--menu-item-size);
  box-sizing:        border-box;
  padding:                  15%;
  background:   var(--ruby-red);
  cursor:               pointer;

  box-shadow:              none;
  transition:    .4s box-shadow;
}

.menu-item:hover {
  box-shadow: 0 0 2px black inset;
}

.menu-item:active {
  box-shadow: 0 0 5px black inset;
}

.menu-item:hover .menu-label {
  opacity:          1;
  visibility: visible;
}

.menu-icon {
  width:  100%;
  height: 100%;
}

.menu-label {
  position:      absolute;
  top:                50%;
  left:              100%;
  padding:           10px;
  color:            black;
  white-space:     nowrap;

  opacity:              0;
  visibility:      hidden;
  transition: .4s opacity;

  transform: translateY(-50%);
}
