.page {
  position:             relative;
  min-height: calc(100vh - 70px);
  background:              white;
  display:                 block;
  z-index:     var(--layer-page);
}

.page-header {
  height:  var(--menu-item-size);
  background:    var(--ruby-red);
  box-sizing:         border-box;
  padding:                 7.5px;
}

.page-icon {
  width:                    35px;
  height:                   35px;
  display:          inline-block;
}

.page-title {
  position:             absolute;
  margin-left:               5px;
  color:                   white;
  font-size:                16px;
  line-height:              35px;
  display:          inline-block;
}

.page-content {
  padding:                  20px;
}
