.page {
  position:          relative;
  box-sizing:      border-box;
  background:           white;
  display:              block;
  overflow:            hidden;
  z-index:  var(--layer-page);

  top:                      0;
  height:                100%;
  opacity:                  1;
  transition:         all .4s;
}

.page.hidden {
  height:                   0;
  opacity:                  0;
}

.page.loading {
  top:                   100%;
  height:                   0;
  opacity:                  0;
}

.page-header {
  height: var(--menu-item-size);
  background:   var(--ruby-red);
  box-sizing:        border-box;
  padding:                7.5px;
}

.page-icon {
  width:                 35px;
  height:                35px;
  display:       inline-block;
}

.page-title {
  position:         absolute;
  margin-left:           5px;
  color:               white;
  font-size:            16px;
  line-height:          35px;
  display:      inline-block;
}

.page-content {
  padding: 20px;
}
