.page {
  position:             relative;
  min-height: calc(100vh - 70px);
  padding:                   3px;
  background:              white;
  box-sizing:         border-box;
  display:                 block;
  z-index:     var(--layer-page);

  box-shadow: 0 2px 3px var(--dark-grey);
}

.page-header {
  height:  var(--menu-item-size);
  background:    var(--ruby-red);
  box-sizing:         border-box;
  padding:                   7px;
}

.page-icon {
  width:                    35px;
  height:                   35px;
  display:          inline-block;
}

.page-title {
  position:             absolute;
  padding-left:              5px;
  color:                   white;
  font-size:                16px;
  line-height:              35px;
  display:          inline-block;
}

.page-content {
  padding:                  20px;
  font-size:                14px;
  line-height:              18px;
}

.page h1 {
  font-size:                16px;
  line-height:              24px;
}

.page p {
  padding:             10px 15px;
}

.page code {
  margin:                 15px 0;
  padding:             10px 15px;
  box-sizing:         border-box;
  background:  var(--light-grey);
  border-radius:             3px;
  display:                 block;
}
