.page {
  position:          relative;
  height:                100%;
  padding:               20px;
  box-sizing:      border-box;
  background:           white;
  display:              block;
  z-index:  var(--layer-page);
}

.page-header {
  height:                42px;
  background: var(--ruby-red);
  box-sizing:      border-box;
  padding:                5px;
}

.page-icon {
  width:                 32px;
  height:                32px;
  display:       inline-block;
}

.page-title {
  position:         absolute;
  margin-left:           5px;
  color:               white;
  font-size:            18px;
  line-height:          32px;
  display:      inline-block;
}
