#import-modal {
  display:   inline-block;
  height:          40vmin;
  width:           40vmin;

  filter: grayscale(100%);
  transition: 0.4s filter;
}

.active #import-modal {
  filter: grayscale(0%);
}

#import-modal header {
  position: absolute;
  top:             0;
  left:            0;
  right:           0;

  font-size:   4vmin;
  line-height: 5vmin;
  text-align: center;

  opacity:         1;
  transition: 0.4s opacity;
}

#import-icon {
  height:        30%;
  width:         30%;

  background-size:                 cover;
  filter: drop-shadow(0 0 0.5vmin black);
  transition:      0.4s background-image;
}

.analyzing #import-icon {
  background-image: url("import/analyzing.svg");
}

.idle #import-icon {
  background-image: url("import/idle.svg");
}

.ready #import-icon {
  background-image: url("import/ready.svg");
}

.upload #import-icon {
  background-image: url("import/upload.svg");
}

.uploaded #import-icon {
  background-image: url("import/uploaded.svg");
}

#import-modal footer {
  position: absolute;
  bottom:          0;
  left:            0;
  right:           0;

  font-size: 2.5vmin;
  line-height: 5vmin;
  text-align: center;

  opacity:         1;
  transition: 0.4s opacity;
}
