:root {
  --dark-grey:   #666666;
  --dark-red:    #2e0509;
  --light-grey:  #dcdcdc;
  --ruby-red:    #9b111e;

  --layer-menu: 2;
  --layer-page: 1;

  --menu-item-size: 50px;
}

html {
  height:      100%;
  user-select: none;
}

body {
  height: 100%;
  margin:    0;

  background: var(--light-grey);
}

.centered {

}
